[Unit]
Description=Video Recording Server (FastAPI + Recording Service)
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/bin/bash -c 'python3 record.py & python3 main.py'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 